.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: -2;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}
.popup-bg-active {
  opacity: 1;
  z-index: 9998;
}
.popup {
  width: 500px;
  z-index: -1;
  opacity: 0;
  position: fixed;
  left: -webkit-calc(50% - 250px);
  left: calc(50% - 250px);
  top: -webkit-calc(50% - 150px);
  top: calc(50% - 150px);
  background-color: $white;
  border: 12px solid $green;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.popup__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 7%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.popup__form-textarea {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  position: relative;
  border: 2px solid $lightgray;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup__form-textarea input {
  padding: 15px 0 15px 52px;
  width: 100%;
  font-size: 1rem;
  line-height: 28px;
  border: none;
  font-family: $Light;
}
.popup__form-input {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  position: relative;
  border: 2px solid $lightgray;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup__form-input-policy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup__form-input-policy-input span {
  margin-left: 0;
}
.popup__form-input-policy-text span {
  font-family: $Light;
  color: $text;
  font-size: 0.725rem;
}
.popup__form-input-policy-text a {
  margin-left: 3px;
  display: inline-blockq;
  color: $green;
  border-bottom: 1px solid $green;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.popup__form-input-policy-text a:hover {
  color: $green -20%;
  border-color: $green -20%;
}
.popup__form-input:nth-child(1) i::before {
  margin-top: -2px;
}
.popup__form-input input {
  padding: 15px 0 15px 52px;
  width: 100%;
  font-size: 1rem;
  line-height: 28px;
  border: none;
  font-family: $Light;
}
.popup__form-input i {
  position: absolute;
  left: 20px;
  top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: $white;
  font-size: 12px;
  width: 18px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  height: 18px;
  background-color: $green;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup__form-input span {
  font-family: $Bold;
  font-size: 1rem;
  color: $black;
}
.popup__form-input:nth-child(4) {
  margin-top: 15px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup__form-button {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  padding: 22px 32px;
  font-family: $Bold;
  color: $green;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.5rem;
  overflow: hidden;
  position: relative;
  line-height: 19px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background-color: #e3e3e3;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 3px solid $green;
}
.popup__form-button:hover {
  -webkit-box-shadow: inset 0 0 15px #00ddb5;
          box-shadow: inset 0 0 15px #00ddb5;
  color: $white;
  background-color: $green;
}
.popup__form-button:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(229,172,142,0)), color-stop(50%, rgba(255,255,255,0.7)), to(rgba(229,172,142,0)));
  background: -webkit-linear-gradient(top, rgba(229,172,142,0), rgba(255,255,255,0.7) 50%, rgba(229,172,142,0));
  background: -o-linear-gradient(top, rgba(229,172,142,0), rgba(255,255,255,0.7) 50%, rgba(229,172,142,0));
  background: linear-gradient(to bottom, rgba(229,172,142,0), rgba(255,255,255,0.7) 50%, rgba(229,172,142,0));
  -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
      -ms-transform: rotate(60deg) translate(-5em, 7.5em);
          transform: rotateZ(60deg) translate(-5em, 7.5em);
  opacity: 0;
  -webkit-animation: sheens 2.5s infinite;
          animation: sheens 2.5s infinite;
  z-index: 100;
}
.popup__form-close {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  background-color: $lightgray;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup__form-close i {
  color: $black;
  font-size: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.popup__form-close i:hover {
  color: $black -20%;
}
.hide {
  display: none;
}
.popup-active {
  opacity: 1;
  z-index: 9999;
}
@media (max-width: 500px) {
  .popup {
    left: -webkit-calc(50% - 170px);
    left: calc(50% - 170px);
    width: 340px;
  }
  .popup__form-close {
    right: -webkit-calc(50% - 22px);
    right: calc(50% - 22px);
    top: -28;
  }
  .popup .radio-custom {
    margin: 15px 0;
  }
}
