<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Проведение независимой оценки и экспертизы в Москве | Аккредитованная оценочная компания «ИНЕКС»
		link(rel="stylesheet", href="/css/libs.min.css")
		link(rel="stylesheet", href="/css/style.css")
		link(rel="shortcut icon" type="image/png" href="/images/favicon.png")
		script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
		script(src="https://code.jquery.com/jquery-1.12.4.min.js")
		script(src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
		link(rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
	body
		.wrapper
			include ./blocks/common/header.pug
			section#home
				include ./blocks/index/home.pug
			section#questions
				include ./blocks/index/questions.pug
			section#form
				include ./blocks/index/form.pug
			section#how
				include ./blocks/index/how.pug
			section#rates
				include ./blocks/index/rates.pug
			//- section#info1
			//- 	include ./blocks/index/info1.pug
			section#info2
				include ./blocks/index/info2.pug
			section#examples
				include ./blocks/index/examples.pug
			section#callback
				include ./blocks/index/callback.pug
			section#faq
				include ./blocks/index/faq.pug
			section#info3
				include ./blocks/index/info3.pug
			section#faq2
				include ./blocks/index/faq2.pug
			section#map
				include ./blocks/index/map.pug
			include ./blocks/common/popup.pug
			section#footer
				include ./blocks/common/footer.pug
		script(src="/js/test.js")
		script(src="/js/libs.min.js")
		script(src="/js/parallax.min.js")
		script(src="/js/wow.min.js")
		script(src="/js/main.js")

