<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Проведение независимой оценки и экспертизы в Москве | Аккредитованная оценочная компания «ИНЕКС»
		link(rel="stylesheet", href="/css/libs.min.css")
		link(rel="stylesheet", href="/css/style.css")
		link(rel="shortcut icon" type="image/png" href="/images/favicon.png")
		script(src="https://code.jquery.com/jquery-1.12.4.min.js")
	body
		.wrapper
			include ./blocks/common/header.pug
			section#home
				include ./blocks/index/home.pug
			section#info1
				include ./blocks/index/info1.pug
			section#rates
				include ./blocks/index/rates.pug
			section#callback
				include ./blocks/index/callback.pug
			section#docs
				include ./blocks/index/docs.pug
			section#how
				include ./blocks/index/how.pug
			section#faq
				include ./blocks/index/faq.pug
			section#map
				include ./blocks/index/map.pug
			include ./blocks/common/popup.pug
		script(src="/js/libs.min.js")
		script(src="/js/parallax.min.js")
		script(src="/js/wow.min.js")
		script(src="/js/main.js")

