@font-face
    font-family: 'FontAwesome';
    src: url('/fonts/FontAwesome.otf');

@font-face
	font-family: 'Bold';
	src: url('../fonts/Circe-Bold.ttf');

@font-face
	font-family: 'ExtraLight';
	src: url('../fonts/Circe-ExtraLight.ttf');

@font-face
	font-family: 'Light';
	src: url('../fonts/Circe-Light.ttf');

@font-face
	font-family: 'Regular';
	src: url('../fonts/Circe-Regular.ttf');

@font-face
	font-family: 'SemiBold';
	src: url('../fonts/Circe-Regular.ttf');

@font-face
	font-family: 'Thin';
	src: url('../fonts/Circe-Thin.ttf');
