$black = #000
$white = #fff
$green = #00be9c
$text = #1e1e1e
$footertext = #d2d2d2
$darktext = #212121
$lightgray = #eeeeee
$footercopy = #e8e8e8
$placeholder = #9a9a9a

$Bold = Bold
$ExtraLight = ExtraLight
$Light = Light
$Regular = Regular
$SemiBold = SemiBold
$Thin = Thin
