.footer-overlay(data-parallax="scroll" data-image-src="/images/footer-bg.jpg")
.w-wrapper
	.footer
		a(href="#home").back-button
			<svg xmlns="http://www.w3.org/2000/svg" width="50" height="24" viewBox="0 0 284.9 284.9"><path d="M282.1 195.3L149 62.2c-1.9-1.9-4.1-2.9-6.6-2.9s-4.7 1-6.6 2.9L2.9 195.3C1 197.2 0 199.4 0 201.9c0 2.5 1 4.7 2.9 6.6l14.3 14.3c1.9 1.9 4.1 2.9 6.6 2.9 2.5 0 4.7-1 6.6-2.9l112.2-112.2 112.2 112.2c1.9 1.9 4.1 2.8 6.6 2.8 2.5 0 4.7-1 6.6-2.8l14.3-14.3c1.9-1.9 2.8-4.1 2.8-6.6C284.9 199.4 284 197.2 282.1 195.3z" fill="#00be9c"/></svg>
		.footer__item
			a(href="#").footer__item-logo
				img(src="/images/logo-footer.png")
			.footer__item-copy ИНЕКС. © Все права защищены
			a(href="#").footer__item-greenlink
				span Политика конфиденциальности
			.footer__item-separator
			.footer__item-text Разработка сайта:
				a(href="#") SPACECODE
		.footer__item
			a(href="#").footer__item-title Другие услуги компании
			a(href="#").footer__item-link Оценка недвижимости
			a(href="#").footer__item-link Оценка коммерческой недвижимости
			a(href="#").footer__item-link Оспаривание кадастровой стоимости
			a(href="#").footer__item-link Оценка наследства для нотариуса
			a(href="#").footer__item-link Оценка для суда
			a(href="#").footer__item-link Оценка имущества
			a(href="#").footer__item-link Оценка ущерба
			a(href="#").footer__item-link Оценка оборудования
		.footer__item
			a(href="#").footer__item-link Оценка транспорта
			a(href="#").footer__item-link Оценка бизнеса
			a(href="#").footer__item-link Оценка нематериальных активов
			a(href="#").footer__item-link Оценка при изъятии городом
			a(href="#").footer__item-link Криминалистическая экспертиза
			a(href="#").footer__item-link Инженерно-техническая экспертиза
			a(href="#").footer__item-link Речеведческая экспертиза
		.footer__item
			.footer__item-title Контактная информация
			.footer__item-text
				i.fa.fa-phone
				a(href="tel:74994509137") +7 (499) 450-91-37
			.footer__item-text
				i.fa.fa-envelope
				a(href="mailto:info@inex.company") info@inex.company
			.footer__item-title Социальные сети
			.footer__item-icons
				a(href="#").footer__item-icons-icon
					<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0V30H30V0H0ZM21.8826 16.7172L24.488 19.711C24.8211 20.0937 24.5492 20.6907 24.0418 20.6907H21.1016C20.637 20.6907 20.1895 20.5148 19.8493 20.1984L18.9786 19.3888C17.996 18.5291 17.5784 18.2342 17.1854 18.2342C16.7924 18.2342 16.6941 18.529 16.6941 19.2905C16.6941 20.0519 16.5467 20.6907 14.2869 20.6907C12.027 20.6907 10.2584 18.9958 8.26874 16.3675C6.2791 13.7392 5.3948 10.9143 5.3948 10.9143C5.28502 10.5608 5.54933 10.202 5.91959 10.202H8.27245C8.71997 10.202 9.12757 10.4606 9.31523 10.8669C9.50784 11.2839 9.83916 11.9273 10.4059 12.8794C11.2101 14.2304 11.9826 14.839 12.4202 15.0981C12.5832 15.1946 12.7886 15.0754 12.7886 14.886V11.6455C12.7886 11.2214 12.6355 10.8117 12.3572 10.4918L12.0255 10.1104C11.9397 10.0117 12.0098 9.85808 12.1405 9.85808H15.859C16.4288 9.85808 16.8907 10.3199 16.8907 10.8897V14.6582C16.8907 14.901 17.2058 14.996 17.3399 14.7937L20.0163 10.7602C20.2273 10.4422 20.5836 10.251 20.9652 10.251H24.1069C24.5362 10.251 24.7973 10.7238 24.5687 11.0873L21.7887 15.5058C21.5495 15.8862 21.5876 16.3782 21.8826 16.7172Z" fill="#fff"/></svg>
				a(href="#").footer__item-icons-icon
					<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.1447 6.87671H9.85518C8.21302 6.87671 6.87671 8.21294 6.87671 9.8552V20.1447C6.87671 21.7872 8.21302 23.1235 9.85518 23.1235H20.1447C21.7871 23.1235 23.1234 21.7872 23.1234 20.1447V9.8552C23.1234 8.21303 21.7871 6.87671 20.1447 6.87671ZM14.9997 20.3484C12.0509 20.3484 9.65153 17.9489 9.65153 14.9998C9.65153 12.051 12.0509 9.65154 14.9997 9.65154C17.9489 9.65154 20.3483 12.051 20.3483 14.9998C20.3483 17.9489 17.9489 20.3484 14.9997 20.3484ZM20.5204 10.7575C19.8222 10.7575 19.2545 10.1898 19.2545 9.49207C19.2545 8.79424 19.8222 8.22654 20.5204 8.22654C21.2181 8.22654 21.7858 8.79424 21.7858 9.49207C21.7858 10.1899 21.2181 10.7575 20.5204 10.7575Z" fill="#fff"/><path fill-rule="evenodd" clip-rule="evenodd" d="M14.9997 11.9119C13.2974 11.9119 11.9111 13.2975 11.9111 14.9998C11.9111 16.7028 13.2974 18.0887 14.9997 18.0887C16.7027 18.0887 18.088 16.7028 18.088 14.9998C18.088 13.2975 16.7027 11.9119 14.9997 11.9119Z" fill="#fff"/><path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V30H30V0H0ZM25.3833 20.1448C25.3833 23.0337 23.0337 25.3833 20.1448 25.3833H9.85525C6.96659 25.3833 4.6167 23.0337 4.6167 20.1448V9.85525C4.6167 6.96659 6.96659 4.6167 9.85525 4.6167H20.1448C23.0337 4.6167 25.3833 6.96659 25.3833 9.85525V20.1448Z" fill="#fff"/></svg>
				a(href="#").footer__item-icons-icon
					<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0V30H15.9768V18.4116H12.0712V13.6809H15.9768V9.70798C15.9768 6.81858 18.3191 4.47627 21.2085 4.47627H25.2916V8.73024H22.37C21.4518 8.73024 20.7075 9.47456 20.7075 10.3927V13.681H25.2182L24.5948 18.4117H20.7075V30H30V0H0Z" fill="#fff"/></svg>
			.footer__item-title Оплата
			.footer__item-images
				.footer__item-images-image
					img(src="/images/sber.png")
				.footer__item-images-image
					img(src="/images/tink.png")
				.footer__item-images-image
					img(src="/images/bank.png")
