.popup-bg
.popup
	form(action="#").popup__form
		.popup__form-input
			i.fa.fa-user
			input(type="text" name="name" placeholder="Ваше имя" required="required")
		.popup__form-input
			i.fa.fa-phone
			input(type="tel" name="phone" placeholder="Номер телефона" required="required")
		.trt2
			input.radio#callnow(type='radio' name='phone1' value='Да, соседи')
			span.radio-custom
			span Позвонить сейчас
		.trt2
			input.radio#calllater(type='radio' name='phone1' value='Нет, не ясно')
			span.radio-custom
			span По времени
		.popup__form-textarea.hide
			i.fa.fa-clock
			input(type="text" name="text" placeholder="Укажите время")
		button(type="submit").popup__form-button Позвоните мне
		.popup__form-close
			i.fa.fa-times
		.popup__form-input
			input.checkbox(type='checkbox' name='p1' checked="checked")
			span.checkbox-custom
			span Соглашаюсь на обработку персональных данных на условиях и для целей, определенных
				a(target="_blank" href="/files/politics.pdf") политикой конфиденциальности
