.callbackblock-bg
.w-wrapper
	.callbackblock
		.callbackblock__title
			p Узнайте, как мы оцениваем нанесенный ущерб и гарантируем выплату компенсации.
			p Оставьте заявку и наш менеджер свяжется с Вами через
				span 40 секунд!
		form.callbackblock__form
			.callbackblock__form-input
				i.fa.fa-phone
				input(type="tel" name="phone" placeholder="Номер телефона" required="required")
			button(type="submit").callbackblock__form-button Позвоните мне
			.callbackblock__form-policy
				label.callbackblock__form-policy-input
					input.checkbox(type="checkbox" name="radio-test" required="required" checked)
					span.checkbox-custom
				.callbackblock__form-policy-text
					span Соглашаюсь на обработку персональных данных на условиях и для целей, определенных
					a(target="_blank" href="/files/politics.pdf") политикой конфиденциальности
