.w-wrapper
	.docs
		.docs__title
			.docs__title-text Ознакомьтесь с документами организации и оценщиков
		.docs__slider
			.swiper-container.slider1
				.swiper-wrapper
					.swiper-slide
						.docs__slider-slide
							img(src="/images/slide.jpg")
					.swiper-slide
						.docs__slider-slide
							img(src="/images/slide.jpg")
					.swiper-slide
						.docs__slider-slide
							img(src="/images/slide.jpg")
					.swiper-slide
						.docs__slider-slide
							img(src="/images/slide.jpg")
					.swiper-slide
						.docs__slider-slide
							img(src="/images/slide.jpg")
					.swiper-slide
						.docs__slider-slide
							img(src="/images/slide.jpg")
					.swiper-slide
						.docs__slider-slide
							img(src="/images/slide.jpg")
			.swiper-button-prev
			.swiper-button-next
			.swiper-pagination
