.docs-bg
.docs-image
.w-wrapper
	.docs
		.docs__title Документы, необходимые для оценки:
		.docs__items
			.docs__items-item
				.docs__items-item-text
					span 1.
					p Правоустанавливающий документ на объект
				.docs__items-item-link
					i.fa.fa-eye
					a(href="#") Пример
			.docs__items-item
				.docs__items-item-text
					span 2.
					p Поэтажный план и экспликация
				.docs__items-item-link
					i.fa.fa-eye
					a(href="#") Пример
			.docs__items-item
				.docs__items-item-text
					span 3.
					p Паспортные данные заказчика
				.docs__items-item-link
					i.fa.fa-eye
					a(href="#") Пример
