.examples-bg(data-parallax="scroll" data-image-src="/images/home-bg.jpg")
.w-wrapper
	.examples
		.examples__title Реальные примеры из нашей практики
		.examples__slider
			.swiper-container.slider3
				.swiper-wrapper
					.swiper-slide
						.examples__slider-slide
							.Flot__right
								.Flot__slider_wrap
									.fotorama(data-nav="thumbs")
										a(href="/images/client5.jpg")
											img(src="/images/client5.jpg")
										a(href="/images/client5-1.jpg")
											img(src="/images/client5-1.jpg")
										a(href="/images/client5-2.jpg")
											img(src="/images/client5-2.jpg")
										a(href="/images/client5-3.jpg")
											img(src="/images/client5-3.jpg")
							.examples__slider-slide__block
								.examples__slider-slide__block-title Залив квартиры по вине УК (ЖЕКа)
								.examples__slider-slide__block-separator
								.examples__slider-slide__block-desc
									.examples__slider-slide__block-desc-title Стоимость и сроки выполненных работ:
									.examples__slider-slide__block-desc-li
										span — Независимая оценка:
										span 8 000 руб.
										p срок: 3 дня
									.examples__slider-slide__block-desc-li
										span — Юридические услуги:
										span 30 000 руб.
										p срок: 1 месяц
									.examples__slider-slide__block-desc-result
										span Итого:
										span 38 000 руб.
									.examples__slider-slide__block-desc-img
										img(src="/images/report.jpg")
										a(target="_blank" href="/files/client5.pdf") Оценочный отчет
								.examples__slider-slide__block-info
									.examples__slider-slide__block-info-title
										p Клиент получил:
										span 539 500 руб.
									.examples__slider-slide__block-info-desc
										.examples__slider-slide__block-info-desc-title По решению суда было взыскано:
										.examples__slider-slide__block-info-desc-li — 341 000 руб. согласно отчету;
										.examples__slider-slide__block-info-desc-li — 170 500 руб. штраф 50%;
										.examples__slider-slide__block-info-desc-li — 28 000 руб. на судебные издержки
					.swiper-slide
						.examples__slider-slide
							.Flot__right
								.Flot__slider_wrap
									.fotorama(data-nav="thumbs")
										a(href="/images/client1.jpg")
											img(src="/images/client1.jpg" data-fit="cover")
										a(href="/images/client1-1.jpg")
											img(src="/images/client1-1.jpg" data-fit="cover")
										a(href="/images/client1-2.jpg")
											img(src="/images/client1-2.jpg" data-fit="cover")
										a(href="/images/client1-3.jpg")
											img(src="/images/client1-3.jpg" data-fit="cover")
							.examples__slider-slide__block
								.examples__slider-slide__block-title Залив квартиры по вине УК (ЖЕКа)
								.examples__slider-slide__block-separator
								.examples__slider-slide__block-desc
									.examples__slider-slide__block-desc-title Стоимость и сроки выполненных работ:
									.examples__slider-slide__block-desc-li
										span — Независимая оценка:
										span 8 000  руб.
										p срок: 3 дня
									.examples__slider-slide__block-desc-li
										span — Юридические услуги:
										span : 35 000 руб.
										p срок: 1 месяц
									.examples__slider-slide__block-desc-result
										span Итого:
										span 43 000 руб.
									.examples__slider-slide__block-desc-img
										img(src="/images/report.jpg")
										a(target="_blank" href="/files/client1.pdf") Оценочный отчет
								.examples__slider-slide__block-info
									.examples__slider-slide__block-info-title
										p Клиент получил:
										span 589 000 руб.
									.examples__slider-slide__block-info-desc
										.examples__slider-slide__block-info-desc-title По решению суда было взыскано:
										.examples__slider-slide__block-info-desc-li — 374 000 руб. согласно отчету;
										.examples__slider-slide__block-info-desc-li — 187 000 руб. штраф 50%;
										.examples__slider-slide__block-info-desc-li — 28 000 руб. на судебные издержки
					.swiper-slide
						.examples__slider-slide
							.Flot__right
								.Flot__slider_wrap
									.fotorama(data-nav="thumbs")
										a(href="/images/client2.jpg")
											img(src="/images/client2.jpg")
										a(href="/images/client2-1.jpg")
											img(src="/images/client2-1.jpg")
										a(href="/images/client2-2.jpg")
											img(src="/images/client2-2.jpg")
										a(href="/images/client2-3.jpg")
											img(src="/images/client2-3.jpg")
							.examples__slider-slide__block
								.examples__slider-slide__block-title Залив квартиры по вине УК (ЖЕКа)
								.examples__slider-slide__block-separator
								.examples__slider-slide__block-desc
									.examples__slider-slide__block-desc-title Стоимость и сроки выполненных работ:
									.examples__slider-slide__block-desc-li
										span — Независимая оценка:
										span 9 000 руб.
										p срок: 4 дня
									.examples__slider-slide__block-desc-li
										span — Юридические услуги:
										span 30 000 руб.
										p срок: 1 месяц
									.examples__slider-slide__block-desc-result
										span Итого:
										span 39 000 руб.
									.examples__slider-slide__block-desc-img
										img(src="/images/report.jpg")
										a(target="_blank" href="/files/client2.pdf") Оценочный отчет
								.examples__slider-slide__block-info
									.examples__slider-slide__block-info-title
										p Клиент получил:
										span 396 000 руб.
									.examples__slider-slide__block-info-desc
										.examples__slider-slide__block-info-desc-title По решению суда было взыскано:
										.examples__slider-slide__block-info-desc-li — 248 000 руб. согласно отчету;
										.examples__slider-slide__block-info-desc-li — 124 000 руб. штраф 50%;
										.examples__slider-slide__block-info-desc-li — 24 000 руб. на судебные издержки
					.swiper-slide
						.examples__slider-slide
							.Flot__right
								.Flot__slider_wrap
									.fotorama(data-nav="thumbs")
										a(href="/images/client3.jpg")
											img(src="/images/client3.jpg")
										a(href="/images/client3-1.jpg")
											img(src="/images/client3-1.jpg")
										a(href="/images/client3-2.jpg")
											img(src="/images/client3-2.jpg")
										a(href="/images/client3-3.jpg")
											img(src="/images/client3-3.jpg")
							.examples__slider-slide__block
								.examples__slider-slide__block-title Залив квартиры по вине УК (ЖЕКа)
								.examples__slider-slide__block-separator
								.examples__slider-slide__block-desc
									.examples__slider-slide__block-desc-title Стоимость и сроки выполненных работ:
									.examples__slider-slide__block-desc-li
										span — Независимая оценка:
										span 8 500 руб.
										p срок: 3 дня
									.examples__slider-slide__block-desc-li
										span — Юридические услуги:
										span 35 000 руб.
										p срок: 2 месяца
									.examples__slider-slide__block-desc-result
										span Итого:
										span 43 500 руб.
									.examples__slider-slide__block-desc-img
										img(src="/images/report.jpg")
										a(target="_blank" href="/files/client3.pdf") Оценочный отчет
								.examples__slider-slide__block-info
									.examples__slider-slide__block-info-title
										p Клиент получил:
										span 555 000 руб.
									.examples__slider-slide__block-info-desc
										.examples__slider-slide__block-info-desc-title По решению суда было взыскано:
										.examples__slider-slide__block-info-desc-li — 351 000 руб. согласно отчету;
										.examples__slider-slide__block-info-desc-li — 175 500 руб. штраф 50%;
										.examples__slider-slide__block-info-desc-li — 28 500 руб. на судебные издержки
					.swiper-slide
						.examples__slider-slide
							.Flot__right
								.Flot__slider_wrap
									.fotorama(data-nav="thumbs")
										a(href="/images/client4.jpg")
											img(src="/images/client4.jpg")
										a(href="/images/client4-1.jpg")
											img(src="/images/client4-1.jpg")
										a(href="/images/client4-2.jpg")
											img(src="/images/client4-2.jpg")
										a(href="/images/client4-3.jpg")
											img(src="/images/client4-3.jpg")
							.examples__slider-slide__block
								.examples__slider-slide__block-title Залив по вине соседей
								.examples__slider-slide__block-separator
								.examples__slider-slide__block-desc
									.examples__slider-slide__block-desc-title Стоимость и сроки выполненных работ:
									.examples__slider-slide__block-desc-li
										span — Независимая оценка:
										span 10 000 руб.
										p срок: 3 дня
									.examples__slider-slide__block-desc-li
										span — Юридические услуги:
										span 37 000 руб.
										p срок: 3 месяца
									.examples__slider-slide__block-desc-result
										span Итого:
										span 47 000 руб.
									.examples__slider-slide__block-desc-img
										img(src="/images/report.jpg")
										a(target="_blank" href="/files/client4.pdf") Оценочный отчет
								.examples__slider-slide__block-info
									.examples__slider-slide__block-info-title
										p Клиент получил:
										span 471 000 руб.
									.examples__slider-slide__block-info-desc
										.examples__slider-slide__block-info-desc-title По решению суда было взыскано:
										.examples__slider-slide__block-info-desc-li — 446 000 руб. согласно отчету;
										.examples__slider-slide__block-info-desc-li — 25 000 руб. на судебные издержки
					.swiper-slide
						.examples__slider-slide
							.Flot__right
								.Flot__slider_wrap
									.fotorama(data-nav="thumbs")
										a(href="/images/client6.jpg")
											img(src="/images/client6.jpg")
										a(href="/images/client6-1.jpg")
											img(src="/images/client6-1.jpg")
										a(href="/images/client6-2.jpg")
											img(src="/images/client6-2.jpg")
										a(href="/images/client6-3.jpg")
											img(src="/images/client6-3.jpg")
							.examples__slider-slide__block
								.examples__slider-slide__block-title Залив по вине соседей
								.examples__slider-slide__block-separator
								.examples__slider-slide__block-desc
									.examples__slider-slide__block-desc-title Стоимость и сроки выполненных работ:
									.examples__slider-slide__block-desc-li
										span — Независимая оценка:
										span 7 500 руб.
										p срок: 3 дня
									.examples__slider-slide__block-desc-li
										span — Юридические услуги:
										span 30 000 руб.
										p срок: 3 месяца
									.examples__slider-slide__block-desc-result
										span Итого:
										span 38 000 руб.
									.examples__slider-slide__block-desc-img
										img(src="/images/report.jpg")
										a(target="_blank" href="/files/client6.pdf") Оценочный отчет
								.examples__slider-slide__block-info
									.examples__slider-slide__block-info-title
										p Клиент получил:
										span 267 000 руб.
									.examples__slider-slide__block-info-desc
										.examples__slider-slide__block-info-desc-title По решению суда было взыскано:
										.examples__slider-slide__block-info-desc-li — 245 000 руб. согласно отчету;
										.examples__slider-slide__block-info-desc-li — 22 500 руб. на судебные издержки
			.swiper-pagination
			.swiper-button-prev
			.swiper-button-next

