.faq2-bg(data-parallax="scroll" data-image-src="/images/faq2-bg.jpg")
.w-wrapper
	.c-wrapper
		.faq2
			.faq2__title Получите консультацию бесплатно на другие интересующие Вас вопросы
			.faq2__block
				.faq2__block-li Как установить виновника залива?
				.faq2__block-li Какие документы необходимо иметь на руках?
			.faq2__block
				.faq2__block-li Когда можно будет начинать делать ремонт?
				.faq2__block-li Будет ли специалист производить замеры на осмотре?
			.faq2__separator
			.faq2__button.callback Получить консультацию
