.form-bg
.w-wrapper
	.form
		.form__title
			.form__title-text Гарантируем положительное решение суда или вернем деньги!
		.form__subtitle
		.form__block
			.form__block-price 0 руб.
			.form__block-title Средняя сумма компенсации, которую получают наши клиенты
		.form__block
			.form__block-text.wow.fadeInUp За прошлый месяц количество клиентов, получивших компенсацию:
				span 21

