.home-bg(data-parallax="scroll" data-image-src="/images/home-bg.jpg")
	.w-wrapper
		.home
			.home__item
				.home__item-title Затопило квартиру?
				.home__item-desc Произведем оценку и взыскание убытков под ключ от
					span 5 990 руб.
				.home__item-li Заказать выезд строительного эксперта
					span бесплатно
				.home__item-button.callback Отправить заявку
			.home__item
				.home__item-journal
					img(src="/images/journal.png")
					a(target="_blank" href="/files/example.pdf").home__item-journal-link
						i.fa.fa-eye
						span Смотреть пример отчёта
