.home-bg(data-parallax="scroll" data-image-src="/images/home-bg.jpg")
	.w-wrapper
		.home
			.home__items
				.home__items-title Оценка для Сбербанка по Москве и МО
				.home__items-item
					span от
					span 2700
					.home__items-item-shadow
					p Стоимость оценки, руб.
				.home__items-item
					.home__items-item-img
						img(src="/images/sberbank.png", alt="sberbank")
					p Аккредитованная компания
