.w-wrapper
	.how
		.how__title
			.how__title-text Как именно мы с Вами работаем?
		.how__slider
			.swiper-container.slider2
				.swiper-wrapper
					.swiper-slide
						.how__block
							.how__block-image
								img(src="/images/how1.png", alt="how1")
								.how__block-image-number 1
							.how__block-text
								p Обращение клиента
					.swiper-slide
						.how__block
							.how__block-image
								img(src="/images/how2.png", alt="how2")
								.how__block-image-number 2
							.how__block-text
								p Выезд оценщика
					.swiper-slide
						.how__block
							.how__block-image
								img(src="/images/how3.png", alt="how3")
								.how__block-image-number 3
							.how__block-text
								p Подписание договора
					.swiper-slide
						.how__block
							.how__block-image
								img(src="/images/how4.png", alt="how4")
								.how__block-image-number 4
							.how__block-text
								p Подготовка отчета
					.swiper-slide
						.how__block
							.how__block-image
								img(src="/images/how5.png", alt="how5")
								.how__block-image-number 5
							.how__block-text
								p Выдача отчета
			.swiper-pagination
