.i1b1
.i1b2
.w-wrapper
	.info2
		.info2__block
			.info__border
				.info__block
					.info__block-text Управляющая компания не возвращает деньги?
					.info__block-text Страховая занижает расценки?
		.info2__block
			.info2__block-title Поможем взыскать дополнительно с виновника:
			.info2__block-container
				.info2__block-container-item
					.info2__block-container-item-img
						img(src="/images/wallet.png")
					.info2__block-container-item-title 50% штраф от суммы понесенного ущерба
					.info2__block-container-item-text
						p ч. 6 ст. 13 Закона
						p "О защите прав потребителя”
				.info2__block-container-item
					.info2__block-container-item-img
						img(src="/images/tragedy-mask.png")
					.info2__block-container-item-title Моральный вред
					.info2__block-container-item-text
						p Ст. 15 Закона
						p "О защите прав потребителя"
				.info2__block-container-item
					.info2__block-container-item-img
						img(src="/images/clock.png")
					.info2__block-container-item-title Неустойку за затягивание процесса
					.info2__block-container-item-text
						p ч. 5 ст. 28 Закона
						p "О защите прав потребителя"
				.info2__block-container-item
					.info2__block-container-item-img
						img(src="/images/auction.png")
					.info2__block-container-item-title Все судебные издержки
					.info2__block-container-item-text
						p Ст. 98, 100
						p ГПК РФ
