.w-wrapper
	.info1
		.info1__form
			.info1__form-item
				.info1__form-item-title Подготовим отчет за 2 часа
			form.info1__form-form(action="#")
				.info1__form-form-input
					i.fa.fa-user
					input(type="text" name="name" placeholder="Ваше имя" required="required")
				.info1__form-form-input
					i.fa.fa-phone
					input(type="tel" name="phone" placeholder="Номер телефона" required="required")
				button(type="submit").info1__form-form-button Позвоните мне
				.info1__form-form-input
					input.checkbox(type='checkbox' name='p1' checked="checked")
					span.checkbox-custom
					span Соглашаюсь на обработку персональных данных на условиях и для целей, определенных
						a(target="_blank" href="/files/politics.pdf") политикой конфиденциальности
		.info1__item
			.info1__item-title Оценочная компания «ИНЕКС»
			.info1__item-desc Аккредитована 27 банками
			.info1__item-images
				.info1__item-images-image
					img(src="/images/info1-1.png", alt="info1-1")
				.info1__item-images-image
					img(src="/images/info1-2.png", alt="info1-2")
				.info1__item-images-image
					img(src="/images/info1-3.png", alt="info1-3")
				.info1__item-images-image
					img(src="/images/info1-4.png", alt="info1-4")
				.info1__item-images-image
					img(src="/images/info1-5.png", alt="info1-5")
				.info1__item-images-image
					img(src="/images/info1-6.png", alt="info1-6")
			a(href="#").info1__item-more
				i.fa.fa-list-ul
				span Весь список банков
		.info1__item
			.info1__item-journal
				img(src="/images/journal.png")
				a(target="_blank" href="/files/example.pdf").info1__item-journal-link
					i.fa.fa-eye
					span Смотреть пример отчёта
