.i3b1
.w-wrapper
	.info3
		.info3__block
			.info3__block-img
				img(src="/images/house.png")
			.info3__block-title
				p Хотите быстро взыскать деньги с виновника?
			.info3__block-text
				p Мы взыскали более
				span 70 миллионов
				span рублей для наших клиентов.
		.info3__block
			.info3__block-img
				img(src="/images/result.png")
			.info3__block-title
				p Более 250 отчетов по оценке ущерба
			.info3__block-text Подготовлено оценщиками компании за 2018 год

