.g-wrapper
	.info1
		.info1__block
			.info1__block-title Управляющая компания не возвращает деньги?
			.info1__block-separator
		.info1__block
			.info1__block-title Страховая компания занижает расценки?
