.full-map
	.ymap-container
		.loader.loader-default
		#map-yandex
.w-wrapper
	.map
		.map__block
			.map__block-title Адрес нашего офиса
			.map__block-text
				p г. Москва, БЦ W-Plaza,  оф. А-608,
				p м. Тульская
				p Пн — Вс, 10:00 — 19:00
			a(href="tel:74994509137").map__block-phone +7 (499) 450-91-37
