.full-map
	<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adf600d99eaf7a17d09bd050441564517de78538025a912e984e4cd424b6b5703&amp;width=100%25&amp;height=465&amp;lang=ru_RU&amp;scroll=false"></script>
.w-wrapper
	.map
		.map__block
			.map__block-title Адрес нашего офиса
			.map__block-text
				p г. Москва, БЦ W-Plaza,  оф. А-608,
				p м. Тульская
				p Пн — Вс, 10:00 — 19:00
			a(href="tel:74994509137").map__block-phone +7 (499) 450-91-37
