.rates-image
.w-wrapper
	.rates
		.rates__title
			.rates__title-text Сколько это будет стоить?
		.rates__blocks
			.rates__blocks-item
				.rates__blocks-item-content
					.rates__blocks-item-content-title Квартира, комната
					.rates__blocks-item-content-separator
					.rates__blocks-item-content-text
						span Цена от:
						span 2 700 руб.
				.rates__blocks-item-image
					img(src="/images/rates1.png", alt="rates1")
			.rates__blocks-item
				.rates__blocks-item-image
					img(src="/images/rates2.png", alt="rates2")
				.rates__blocks-item-content
					.rates__blocks-item-content-title Оборудование
					.rates__blocks-item-content-separator
					.rates__blocks-item-content-text
						span Цена от:
						span 10 000 руб.
			.rates__blocks-item
				.rates__blocks-item-content
					.rates__blocks-item-content-title Земельный участок
					.rates__blocks-item-content-separator
					.rates__blocks-item-content-text
						span Цена от:
						span 6 000 руб.
				.rates__blocks-item-image
					img(src="/images/rates3.png", alt="rates3")
			.rates__blocks-item
				.rates__blocks-item-image
					img(src="/images/rates4.png", alt="rates4")
				.rates__blocks-item-content
					.rates__blocks-item-content-title Нежилое помещение
					.rates__blocks-item-content-separator
					.rates__blocks-item-content-text
						span Цена от:
						span 12 000 руб.
			.rates__blocks-item
				.rates__blocks-item-content
					.rates__blocks-item-content-title Загородный дом
					.rates__blocks-item-content-separator
					.rates__blocks-item-content-text
						span Цена от:
						span 8 000 руб.
				.rates__blocks-item-image
					img(src="/images/rates5.png", alt="rates5")
			.rates__blocks-item
				.rates__blocks-item-image
					img(src="/images/rates6.png", alt="rates6")
				.rates__blocks-item-content
					.rates__blocks-item-content-title Нежилое здание
					.rates__blocks-item-content-separator
					.rates__blocks-item-content-text
						span Цена от:
						span 15 000 руб.
			.rates__center
				.rates__center-image
					img(src="/images/polygon.png", alt="polygon")
				.rates__center-image
					img(src="/images/polygon.png", alt="polygon")
