.w-wrapper
	.rates
		.rates__title
			.rates__title-text Сколько это будет стоить?
		.rates__subtitle
			p Получите оценку
			span бесплатно
			p в соответствии с 98 ГПК РФ
		.rates__slider
			.swiper-container.slider5
				.swiper-wrapper
					.swiper-slide
						.rates__block
							.rates__block-title
								p Стандарт
								span от 5 990 руб.
								.rates__block-title-img
									img(src="/images/water1.png")
								.rates__block-title-text
									span 100%
									p суммы компенсирует виновник
							.rates__block-separator
							.rates__block-li Бесплатная консультация
							.rates__block-li Выезд оценщика и составление акта осмотра
							.rates__block-li
								i.fa.fa-calculator
								span Оценка
								span пострадавших помещений и имущества
							.rates__block-li Консультация юриста
							.rates__block-button.callback Заказать «Стандарт»
					.swiper-slide
						.rates__block
							.rates__block-title
								p Профессионал»
								span от 9 500 руб.
								.rates__block-title-img
									img(src="/images/water2.png")
								.rates__block-title-text
									span 100%
									p суммы компенсирует виновник
							.rates__block-separator
							.rates__block-li Бесплатная консультация
							.rates__block-li Выезд оценщика и составление акта осмотра
							.rates__block-li
								i.fa.fa-calculator
								span Оценка
								span пострадавших помещений и имущества
							.rates__block-li Консультация юриста
							.rates__block-li Подготовка досудебной претензии
							.rates__block-li Подготовка искового заявления
							.rates__block-button.callback Заказать «Профессионал»
					.swiper-slide
						.rates__block
							.rates__block-title
								p Под ключ
								span от 35 000 руб.
								.rates__block-title-img
									img(src="/images/water3.png")
								.rates__block-title-text
									span 60-70%
									p суммы компенсирует виновник
							.rates__block-separator
							.rates__block-li Бесплатная консультация
							.rates__block-li Выезд оценщика и составление акта осмотра
							.rates__block-li
								i.fa.fa-calculator
								span Оценка
								span пострадавших помещений и имущества
							.rates__block-li Консультация юриста
							.rates__block-li Подготовка досудебной претензии
							.rates__block-li Подготовка искового заявления
							.rates__block-li
								i.fa.fa-check
								span Полное ведение дела
							.rates__block-li Получение исполнительного листа
							.rates__block-button.callback Заказать «Под ключ»
			.swiper-pagination
		.rates__bottomtext Информация об услугах, представленная на данном сайте носит информационный характер и не является публичной офертой (ст. 437 ГК РФ)
