.callbackblock
	position relative
	overflow hidden
	padding 58px 0 63px 0
	display flex
	flex-wrap wrap
	justify-content space-between
	&__block
		flex-basis 50%
		&-image
			height 427px
		&:nth-child(2)
			flex-direction column
			display flex
		&-form
			flex-direction column
			display flex
			&-title
				padding-bottom 23px
				color $text
				font-size 2.625rem
				flex-basis 100%
				line-height 48px
				font-family $Bold
			&-separator
				background-color $green
				width 25%
				height 3px
			&-desc
				padding-top 29px
				font-family $Regular
				font-size 1.5rem
				color $text
				line-height 28px
				margin-bottom 29px
			&-input
				flex-basis 65%
				position relative
				margin-bottom 15px
				& input
					padding 15px 0 15px 52px
					width 65%
					font-size 0.875rem
					height 100%
					color #9a9a9a
					box-shadow none
					background-color transparent
					border-radius 3px
					border 2px solid #ededed
					font-family $Light
				& i
					position absolute
					left 20px
					top 20px
					color $green
					font-size 14px
			&-button
				padding 15px 32px
				font-family $Regular
				color $white
				font-size 1.125rem
				width 65%
				position relative
				line-height 26px
				display flex
				align-items center
				justify-content center
				border-radius 3px
				background-color $green
				cursor pointer
				transition .3s
				border none
				overflow hidden
				&:after
					content: ""
					position: absolute
					top -50%
					left -50%
					right -50%
					bottom -50%
					background linear-gradient(to bottom,rgba(229,172,142,0),rgba(255,255,255,.7) 50%,rgba(229,172,142,0))
					transform rotateZ(60deg) translate(-5em,7.5em)
					opacity 0
					animation sheens 2.5s infinite
					z-index 100
			&-policy
				width 65%
				display flex
				align-items center
				& input
					margin-right 9px
					margin-left 24px
				&-text
					color $black
					font-family $Light
					font-size 0.75rem
					a
						margin 3px
						color $green
						cursor pointer
						border-bottom 1px solid $green
						transition .3s
						font-family $Regular
						&:hover
							color $green - 20%
.checkbox
	display none
.checkbox-custom
	width 20px
	height 20px
	border-radius 3px
	border 2px solid #ededed
	background $white
	position relative
	margin 15px
	transition .3s
	cursor pointer
.checkbox-custom:hover
	border-color $green
.checkbox-custom
	display inline-block
	vertical-align middle
	cursor pointer
.checkbox:checked + .checkbox-custom
	border-color $green
	background $white
.checkbox:checked + .checkbox-custom::before
	content ""
	display block
	position absolute
	top 0
	right 0
	bottom 0
	left 0
.checkbox:checked + .checkbox-custom::after
	content ""
	display flex
	align-items center
	justify-content center
	width 12px
	height 12px
	background url(/images/check.png) 100% 100% no-repeat
	background-size contain
	position absolute
	left 2px
	top 2px
.checkbox-custom
	border-radius 4px
@media(max-width: 991px)
	.callbackblock
		padding 35px 0 45px 0
		width 50%
		margin 0 auto
		&__block
			&-image
				display none
			&:nth-child(2)
				flex-basis 100%
				&-title
					margin-bottom 30px
					text-align center
			&-form
				flex-wrap wrap
				&-input
					flex-basis 100%
					margin-bottom 15px
					& input
						width 100%
				&-button
					flex-basis 100%
					padding 10px 32px
					width 100%
					margin-bottom 15px
				&-policy
					width 100%
					flex-basis 100%
					.checkbox-custom
						margin 0 15px 0 0
					&-text
						font-size 0.75rem
