.docs
	padding 46px 0
	&__title
		width 82%
		position relative
		margin 0 auto 48.8px auto
		&-text
			line-height 28px
			font-family $SemiBold
			font-size 2.625rem
			color $text
	.swiper-button-prev,
	.swiper-button-next
		top calc(50% - 20px)
		background-color $green
		border-radius 5px
		width 40px
		height 40px
		background-size 10px 16px
	.swiper-button-prev
		background-image url(/images/left.png)
		left -20px
	.swiper-button-next
		background-image url(/images/right.png)
		right -20px
	&__slider
		position relative
		height 500px
		&-slide
			box-shadow 0 0 40px 10px rgba(0, 0, 0, 0.07)
			margin 80px 10px
			opacity .5
			& img
				width 100%
	.swiper-slide-active
		.docs__slider-slide
			transition transform .5s
			transform scale(1.5)
			z-index 999
			opacity 1
	.swiper-container
		height 100%
		.swiper-slide
			display flex
			align-items center
	.swiper-pagination
		display none
@media(max-width: 1180px)
	.docs
		&__title
			width 85%
			margin 0 auto
		.swiper-button-prev
			left 20px
		.swiper-button-next
			right 20px
@media(max-width: 991px)
	#docs
		border-top 3px dashed rgba(0,190,156,.3)
		border-bottom 3px dashed rgba(0,190,156,.3)
	.docs
		padding 50px 0 35px
		&__title
			width 80%
			&-text
				text-align center
			&-img
				left calc(50% - 65.5px)
				top 0
		&__slider
			position relative
			height auto
			&-slide
				box-shadow 0 0 40px 10px rgba(0, 0, 0, 0.07)
				margin 20% 5%
				opacity .5
				& img
					width 90%
			.swiper-slide-active
				.docs__slider-slide
					transition transform .5s
					transform scale(1)
					z-index 999
					opacity 1
			.swiper-container
				height auto
				.swiper-slide
					display block
			.swiper-button-prev,
			.swiper-button-next
				display none
			.swiper-pagination
				display block
				width 100%
				margin-top -40px
				.swiper-pagination-bullet
					border 2px solid #d1d1d1
					opacity 1
					margin 0 3px
					background inherit
					width 11px
					height 11px
					&-active
						background $green
						border-color $green
