.home-bg
	height 100vh
.home
	position relative
	display flex
	align-items center
	flex-wrap wrap
	height 100%
	&__items
		display flex
		flex-basis 100%
		flex-wrap wrap
		justify-content space-around
		&-title
			flex-basis 100%
			color $white
			text-align center
			position relative
			font-size 3.25rem
			font-family $Bold
			margin-bottom 28px
		&-item
			flex-basis 40%
			display flex
			justify-content center
			flex-wrap wrap
			position relative
			&-shadow
				position absolute
				bottom 40px
				width 220px
				height 30px
				border-radius 5px
				background-color rgba(0,190,156,.5)
			& span
				z-index 1
				display flex
				align-self flex-end
				&:nth-child(1)
					font-size 2.625rem
					font-family $Regular
					color $white
				&:nth-child(2)
					font-size 4.5rem
					font-family $Bold
					color $white
					line-height 70px
					margin-left 10px
			& p
				flex-basis 100%
				color $white
				font-size 1.5rem
				text-align center
				font-family $Regular
@media(max-width: 991px)
	.home
		flex-wrap wrap
		justify-content center
		&__items
			&-item
				flex-basis 100%
				&:nth-child(2)
					margin-bottom 40px
