.home-bg
	height 675px
.home
	position relative
	display flex
	align-items center
	justify-content space-between
	padding 92px 0
	&__item
		flex-basis 50%
		color $white
		position relative
		&-title
			line-height 28px
			font-family $SemiBold
			font-size 2.625rem
			margin-bottom 19px
		&-desc
			line-height 40px
			font-size 1.625rem
			font-family $SemiBold
			margin-bottom 29px
			max-width 80%
			span
				margin-left 5px
				font-family $Bold
				color $green
				font-size 1.625rem
			p
				display inline-block
		&-li
			font-family $Regular
			line-height 22px
			font-size 1.125rem
			position relative
			margin-bottom 15px
			max-width 70%
			margin-top 60px
			&:before
				content ''
				position absolute
				display inline-block
				background-color $green
				width 5px
				height 5px
				border-radius 50%
				top 8.5px
				left -10px
			span
				margin-left 5px
				font-family $Bold
				color $green
				font-size 1.25rem
		&-button
			margin-top 22px
			padding 22px 32px
			font-family $Bold
			color $green
			font-size 1.5rem
			overflow hidden
			width 278px
			position relative
			line-height 19px
			display flex
			align-items center
			justify-content center
			border-radius 30px
			background-color #e3e3e3
			cursor pointer
			transition .3s
			border-bottom 3px solid $green
			&:hover
				box-shadow inset 0 0 15px #00ddb5
				color $white
				background-color $green
			&:after
				content: ""
				position: absolute
				top -50%
				left -50%
				right -50%
				bottom -50%
				background linear-gradient(to bottom,rgba(229,172,142,0),rgba(255,255,255,.7) 50%,rgba(229,172,142,0))
				transform rotateZ(60deg) translate(-5em,7.5em)
				opacity 0
				animation sheens 2.5s infinite
				z-index 100
		&-journal
			margin-top 100px
			display flex
			justify-content center
			&-link
				font-family $Bold
				font-size 1.125rem
				border-bottom 1px dashed $white
				display inline-block
				position absolute
				left calc(50% - 95.5px)
				bottom 0
				color $white
				transition .3s
				img
					width 100%
				i
					margin-right 5px
				&:hover
					color $white - 20%

@keyframes sheens
	0%,
	79%
		opacity 0
		-webkit-transform rotateZ(60deg) translate(-5em, 7.5em)
		transform rotateZ(60deg) translate(-5em, 7.5em)
	80%
		opacity 1
		-webkit-transform rotateZ(60deg) translate(-5em, 7.5em)
		transform rotateZ(60deg) translate(-5em, 7.5em)
	95%
		opacity 1
		-webkit-transform: rotateZ(60deg) translate(1em, -11em);
		transform: rotateZ(60deg) translate(1em, -11em)
	100%
		opacity 0
		-webkit-transform rotateZ(60deg) translate(1em, -9em)
		transform rotateZ(60deg) translate(1em, -9em)

@media(max-width: 991px)
	.home-bg
		height 680px
	.home
		padding 70px 0 25px 0
		flex-wrap wrap
		justify-content center
		&__item
			flex-basis 70%
			&:nth-child(2)
				width 100%
				display flex
				align-items center
				justify-content center
		&__item
			&-desc
				max-width 100%
			&-li
				max-width 100%
			&-journal
				display flex
				align-items center
				justify-content center
				margin-top 50px
				&-link
					bottom calc(50% - 20px)
					background-color rgba(0,0,0,.8)
					padding 10px
					border-radius 5px
					border-bottom none
				img
					width 300px
@media(max-width: 784px)
	.home-bg
		height 700px
@media(max-width: 500px)
	.home-bg
		height 800px
