#map
	min-height 465px
.full-map
	position absolute
	height 100%
	width 100%
.map
	display inline-flex
	position absolute
	right 0
	justify-content flex-end
	&__block
		margin-top 50px
		height 220px
		border 2px solid $green
		border-radius 3px
		background-color $white
		box-shadow 0 0 13.5px 1.5px rgba(0, 190, 156, 0.15)
		&-title
			padding 16px 30px
			display flex
			align-items center
			background-color $green
			color $white
			font-family $Bold
			line-height 18px
			font-size 1.125rem
		&-text
			color $darktext
			font-size 1.125rem
			line-height 24px
			font-family $Light
			padding 29px 29px 0 31px
		&-phone
			margin-top 20px
			color $darktext
			font-family $Bold
			line-height 24px
			font-size 1.125rem
			transition .3s
			padding 0 29px 38px 31px
			display block
			&:hover
				color $darktext + 20%

.ymap-container
	position relative
	overflow hidden
	cursor pointer
	background url('/images/map.png') #ffffff no-repeat
	background-position center center
	background-size cover

#map-yandex
	position relative
	width 100%
	height 465px
	cursor pointer
	background-color transparent

.loader
	position absolute
	z-index 15
	top -100%
	left 0
	box-sizing border-box
	width 100%
	height 100%
	overflow hidden
	color #000000
	transition opacity .7s ease
	opacity 0
	background-color rgba(0,0,0,.55)

.loader:after,
.loader:before
	box-sizing border-box

.loader.is-active
	top 0
	opacity 1

.loader-default:after
	position absolute
	top calc(50% - 24px)
	left calc(50% - 24px)
	width 48px
	height 48px
	content ''
	animation rotation 1s linear infinite
	border solid 8px #ffffff
	border-left-color transparent
	border-radius 50%

@keyframes rotation
	from
		transform rotate(0)
	to
		transform rotate(359deg)
@keyframes blink
	from
		opacity .5
	to
		opacity 1
@media(max-width: 767px)
	.map
		right calc(50% - 140px)
