#rates
	background-color #f0f0f0
.rates-bg
	background url(/images/rates-bg.jpg)
	height 100%
	position absolute
	top 0
	left 0
	bottom 0
	right 0
.rates
	display flex
	padding 46px 0
	flex-wrap wrap
	position relative
	justify-content space-between
	&__title
		width 100%
		flex-basis 100%
		position relative
		margin 0 auto 29px auto
		&-text
			width 50%
			line-height 28px
			font-family $Bold
			font-size 2.625rem
			color $text
			text-align center
			margin 0 auto
			position relative
