.callbackblock {
  position: relative;
  overflow: hidden;
  padding: 58px 0 63px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.callbackblock__block {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}
.callbackblock__block-image {
  height: 427px;
}
.callbackblock__block:nth-child(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.callbackblock__block-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.callbackblock__block-form-title {
  padding-bottom: 23px;
  color: $text;
  font-size: 2.625rem;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  line-height: 48px;
  font-family: $Bold;
}
.callbackblock__block-form-separator {
  background-color: $green;
  width: 25%;
  height: 3px;
}
.callbackblock__block-form-desc {
  padding-top: 29px;
  font-family: $Regular;
  font-size: 1.5rem;
  color: $text;
  line-height: 28px;
  margin-bottom: 29px;
}
.callbackblock__block-form-input {
  -webkit-flex-basis: 65%;
      -ms-flex-preferred-size: 65%;
          flex-basis: 65%;
  position: relative;
  margin-bottom: 15px;
}
.callbackblock__block-form-input input {
  padding: 15px 0 15px 52px;
  width: 65%;
  font-size: 0.875rem;
  height: 100%;
  color: #9a9a9a;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 2px solid #ededed;
  font-family: $Light;
}
.callbackblock__block-form-input i {
  position: absolute;
  left: 20px;
  top: 20px;
  color: $green;
  font-size: 14px;
}
.callbackblock__block-form-button {
  padding: 15px 32px;
  font-family: $Bold;
  color: $white;
  font-size: 1rem;
  width: 65%;
  position: relative;
  line-height: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: $green;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid $green;
}
.callbackblock__block-form-button:hover {
  -webkit-box-shadow: inset 0 0 15px #00ddb5;
          box-shadow: inset 0 0 15px #00ddb5;
  color: $white;
  background-color: $green;
}
.callbackblock__block-form-policy {
  width: 65%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.callbackblock__block-form-policy input {
  margin-right: 9px;
  margin-left: 24px;
}
.callbackblock__block-form-policy-text {
  color: $black;
  font-family: $Light;
  font-size: 0.75rem;
}
.callbackblock__block-form-policy-text a {
  margin: 3px;
  color: $green;
  cursor: pointer;
  border-bottom: 1px solid $green;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: $Regular;
}
.callbackblock__block-form-policy-text a:hover {
  color: $green -20%;
}
.checkbox {
  display: none;
}
.checkbox-custom {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 2px solid #ededed;
  background: $white;
  position: relative;
  margin: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.checkbox-custom:hover {
  border-color: $green;
}
.checkbox-custom {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.checkbox:checked + .checkbox-custom {
  border-color: $green;
  background: $white;
}
.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.checkbox:checked + .checkbox-custom::after {
  content: "";
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12px;
  height: 12px;
  background: url("/images/check.png") 100% 100% no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  position: absolute;
  left: 2px;
  top: 2px;
}
.checkbox-custom {
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
@media (max-width: 991px) {
  .callbackblock {
    padding: 35px 0 45px 0;
  }
  .callbackblock__block-image {
    display: none;
  }
  .callbackblock__block:nth-child(2) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .callbackblock__block:nth-child(2)-title {
    margin-bottom: 30px;
    text-align: center;
  }
  .callbackblock__block-form {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .callbackblock__block-form-input {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-bottom: 15px;
  }
  .callbackblock__block-form-input input {
    width: 100%;
  }
  .callbackblock__block-form-button {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    padding: 10px 32px;
    width: 100%;
    margin-bottom: 15px;
  }
  .callbackblock__block-form-policy {
    width: 100%;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .callbackblock__block-form-policy .checkbox-custom {
    margin: 0 15px 0 0;
  }
  .callbackblock__block-form-policy-text {
    font-size: 0.75rem;
  }
}
