.docs {
  padding: 46px 0;
}
.docs__title {
  width: 82%;
  position: relative;
  margin: 0 auto 48.8px auto;
}
.docs__title-text {
  line-height: 28px;
  font-family: $SemiBold;
  font-size: 2.625rem;
  color: $text;
}
.docs .swiper-button-prev,
.docs .swiper-button-next {
  top: -webkit-calc(50% - 20px);
  top: calc(50% - 20px);
  background-color: $green;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 40px;
  height: 40px;
  -webkit-background-size: 10px 16px;
          background-size: 10px 16px;
}
.docs .swiper-button-prev {
  background-image: url("/images/left.png");
  left: -20px;
}
.docs .swiper-button-next {
  background-image: url("/images/right.png");
  right: -20px;
}
.docs__slider {
  position: relative;
  height: 500px;
}
.docs__slider-slide {
  -webkit-box-shadow: 0 0 40px 10px rgba(0,0,0,0.07);
          box-shadow: 0 0 40px 10px rgba(0,0,0,0.07);
  margin: 80px 10px;
  opacity: 0.5;
}
.docs__slider-slide img {
  width: 100%;
}
.docs .swiper-slide-active .docs__slider-slide {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  z-index: 999;
  opacity: 1;
}
.docs .swiper-container {
  height: 100%;
}
.docs .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.docs .swiper-pagination {
  display: none;
}
@media (max-width: 1180px) {
  .docs__title {
    width: 85%;
    margin: 0 auto;
  }
  .docs .swiper-button-prev {
    left: 20px;
  }
  .docs .swiper-button-next {
    right: 20px;
  }
}
@media (max-width: 991px) {
  #docs {
    border-top: 3px dashed rgba(0,190,156,0.3);
    border-bottom: 3px dashed rgba(0,190,156,0.3);
  }
  .docs {
    padding: 50px 0 35px;
  }
  .docs__title {
    width: 80%;
  }
  .docs__title-text {
    text-align: center;
  }
  .docs__title-img {
    left: -webkit-calc(50% - 65.5px);
    left: calc(50% - 65.5px);
    top: 0;
  }
  .docs__slider {
    position: relative;
    height: auto;
  }
  .docs__slider-slide {
    -webkit-box-shadow: 0 0 40px 10px rgba(0,0,0,0.07);
            box-shadow: 0 0 40px 10px rgba(0,0,0,0.07);
    margin: 20% 5%;
    opacity: 0.5;
  }
  .docs__slider-slide img {
    width: 90%;
  }
  .docs__slider .swiper-slide-active .docs__slider-slide {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    z-index: 999;
    opacity: 1;
  }
  .docs__slider .swiper-container {
    height: auto;
  }
  .docs__slider .swiper-container .swiper-slide {
    display: block;
  }
  .docs__slider .swiper-button-prev,
  .docs__slider .swiper-button-next {
    display: none;
  }
  .docs__slider .swiper-pagination {
    display: block;
    width: 100%;
    margin-top: -40px;
  }
  .docs__slider .swiper-pagination .swiper-pagination-bullet {
    border: 2px solid #d1d1d1;
    opacity: 1;
    margin: 0 3px;
    background: inherit;
    width: 11px;
    height: 11px;
  }
  .docs__slider .swiper-pagination .swiper-pagination-bullet-active {
    background: $green;
    border-color: $green;
  }
}
