.examples-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.examples {
  position: relative;
  padding: 63px 0 106px;
}
.examples__title {
  width: 100%;
  text-align: center;
  position: relative;
  margin: 0 auto 42px auto;
  font-size: 2.625rem;
  font-family: $SemiBold;
  color: $white;
  line-height: 38px;
  text-align: center;
}
.examples__slider {
  position: relative;
}
.examples__slider-slide {
  padding: 30px;
  width: 100%;
  height: 100%;
  background-color: $white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.examples__slider-slide__slider {
  width: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.examples__slider-slide__slider-slide {
  height: 400px;
  width: 427px;
}
.examples__slider-slide__slider-slide-img {
  height: 100%;
}
.examples__slider-slide__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-basis: 60%;
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
  padding-left: 30px;
}
.examples__slider-slide__block-title {
  color: $green;
  font-size: 2rem;
  line-height: 38px;
  font-family: $SemiBold;
  margin-bottom: 20px;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}
.examples__slider-slide__block-separator {
  background-color: #e0e0e0;
  height: 1px;
  margin-bottom: 20px;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}
.examples__slider-slide__block-desc {
  -webkit-flex-basis: 55%;
      -ms-flex-preferred-size: 55%;
          flex-basis: 55%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.examples__slider-slide__block-desc-title {
  font-size: 1.125rem;
  color: $text;
  line-height: 24px;
  font-family: $SemiBold;
  margin-bottom: 10px;
}
.examples__slider-slide__block-desc-li {
  font-family: $Regular;
  font-size: 1.125rem;
  color: $text;
  line-height: 24px;
  margin-bottom: 10px;
}
.examples__slider-slide__block-desc-li span:nth-child(2) {
  margin-left: 3px;
  font-family: $Bold;
}
.examples__slider-slide__block-desc-li:nth-child(3) {
  margin-bottom: 0;
}
.examples__slider-slide__block-desc-result {
  margin-top: 23px;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  margin-bottom: 33px;
}
.examples__slider-slide__block-desc-result span:nth-child(1) {
  font-family: $SemiBold;
  font-size: 1.125rem;
  line-height: 24px;
  color: $text;
}
.examples__slider-slide__block-desc-result span:nth-child(2) {
  font-family: $Bold;
  margin-left: 5px;
  font-size: 1.375rem;
  line-height: 24px;
  color: $text;
}
.examples__slider-slide__block-desc-img {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.examples__slider-slide__block-desc-img img {
  height: 65px;
}
.examples__slider-slide__block-desc-img a {
  font-family: $SemiBold;
  font-size: 1rem;
  margin: 0 15px;
  line-height: 28px;
  color: $green;
  border-bottom: 2px dashed $green;
}
.examples__slider-slide__block-info {
  -webkit-flex-basis: 45%;
      -ms-flex-preferred-size: 45%;
          flex-basis: 45%;
  border: 1px solid $green;
}
.examples__slider-slide__block-info-title {
  padding: 15px 20px;
  background-color: $green;
}
.examples__slider-slide__block-info-title p {
  font-family: $Light;
  font-size: 1.125rem;
  color: $white;
  line-height: 34px;
}
.examples__slider-slide__block-info-title span {
  font-family: $Bold;
  font-size: 1.5rem;
  color: $white;
  line-height: 34px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 2px 4px;
  border: 2px solid $white;
}
.examples__slider-slide__block-info-desc {
  padding: 17px 20px;
}
.examples__slider-slide__block-info-desc-title,
.examples__slider-slide__block-info-desc-li {
  font-family: $Regular;
  font-size: 0.875rem;
  line-height: 40px;
  color: $text;
}
.examples__slider .swiper-button-prev,
.examples__slider .swiper-button-next {
  top: -webkit-calc(50% - 20px);
  top: calc(50% - 20px);
  background-color: $green;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 40px;
  height: 40px;
  -webkit-background-size: 10px 16px;
          background-size: 10px 16px;
}
.examples__slider .swiper-button-prev {
  background-image: url("/images/left.png");
  left: -20px;
}
.examples__slider .swiper-button-next {
  background-image: url("/images/right.png");
  right: -20px;
}
.examples__slider .swiper-pagination {
  width: 100%;
  margin-top: 35px;
}
.examples__slider .swiper-pagination .swiper-pagination-bullet {
  border: 2px solid #d1d1d1;
  opacity: 1;
  margin: 0 3px;
  background: inherit;
  width: 11px;
  height: 11px;
}
.examples__slider .swiper-pagination .swiper-pagination-bullet-active {
  background: $green;
  border-color: $green;
}
.slider3 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) .examples__slider-slide__block-info-desc-title,
.slider3 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) .examples__slider-slide__block-info-desc-li {
  line-height: 20px;
}
.slider3 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) .examples__slider-slide__block-info-desc-title {
  margin: 10px;
}
@media (max-width: 1180px) {
  .examples__slider .swiper-button-prev,
  .examples__slider .swiper-button-next {
    display: none;
  }
  .examples__slider .swiper-pagination {
    display: block;
    margin-top: 28px;
  }
}
@media (max-width: 991px) {
  .examples {
    padding: 35px 0 66px;
  }
  .examples__slider-slide {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 0;
    display: block;
  }
  .examples__slider-slide__slider {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    width: 100%;
  }
  .examples__slider-slide__slider-slide {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .examples__slider-slide__slider-slide-img {
    height: 400px;
    width: 400px;
  }
  .examples__slider-slide__block {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    padding: 0 30px 30px;
  }
  .examples__slider-slide__block-title {
    margin-top: 20px;
  }
  .examples__slider-slide__block-desc-title,
  .examples__slider-slide__block-desc-li {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .fotorama {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  .examples__slider-slide__block-desc {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .examples__slider-slide__block-desc-img {
    display: none;
  }
  .examples__slider-slide__block-info {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
}
.fotorama__nav-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 133px;
}
.fotorama__nav--thumbs .fotorama__nav__frame {
  width: 100px !important;
  text-align: center;
}
.fotorama__thumb {
  background-color: inherit !important;
}
.fotorama__img {
  left: 0 !important;
  position: relative !important;
}
.fotorama__thumb-border {
  display: none;
}
.fotorama__active .fotorama__img {
  border: 2px solid $green;
}
.fotorama__stage__shaft .fotorama__img {
  border: none;
}
