.home-bg {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.home-img {
  height: 100vh;
  z-index: 1;
}
.home {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 100%;
}
.home__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.home__items-title {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  color: $white;
  text-align: center;
  position: relative;
  font-size: 3.25rem;
  font-family: $Bold;
  margin-bottom: 28px;
}
.home__items-item {
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
}
.home__items-item-shadow {
  position: absolute;
  bottom: 40px;
  width: 220px;
  height: 30px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: rgba(0,190,156,0.5);
}
.home__items-item span {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
.home__items-item span:nth-child(1) {
  font-size: 2.625rem;
  font-family: $Regular;
  color: $white;
}
.home__items-item span:nth-child(2) {
  font-size: 4.5rem;
  font-family: $Bold;
  color: $white;
  line-height: 70px;
  margin-left: 10px;
}
.home__items-item p {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  color: $white;
  font-size: 1.5rem;
  text-align: center;
  font-family: $Regular;
}
@media (max-width: 991px) {
  .home {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home__items-item {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .home__items-item:nth-child(2) {
    margin-bottom: 40px;
  }
}
@-webkit-keyframes sheens {
  0%, 79% {
    opacity: 0;
    -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }
  80% {
    opacity: 1;
    -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }
  95% {
    opacity: 1;
    -webkit-transform: rotateZ(60deg) translate(1em, -11em);
    transform: rotateZ(60deg) translate(1em, -11em);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateZ(60deg) translate(1em, -9em);
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
@keyframes sheens {
  0%, 79% {
    opacity: 0;
    -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }
  80% {
    opacity: 1;
    -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }
  95% {
    opacity: 1;
    -webkit-transform: rotateZ(60deg) translate(1em, -11em);
    transform: rotateZ(60deg) translate(1em, -11em);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateZ(60deg) translate(1em, -9em);
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
