.info1 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 92px 0;
}
.info1__item {
  color: $white;
  position: relative;
}
.info1__item:nth-child(1) {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}
.info1__item:nth-child(2) {
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
}
.info1__item-title {
  font-family: $Regular;
  font-size: 1.25rem;
  color: $text;
  margin-bottom: 26px;
}
.info1__item-desc {
  font-size: 2.625rem;
  font-family: $Bold;
  color: $text;
  margin-bottom: 70px;
}
.info1__item-images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.info1__item-images-image {
  -webkit-flex-basis: 33.33334%;
      -ms-flex-preferred-size: 33.33334%;
          flex-basis: 33.33334%;
  margin-bottom: 35px;
}
.info1__item-more {
  font-family: $Bold;
  font-size: 1.125rem;
  border-bottom: 1px dashed $white;
  display: inline-block;
  color: $green;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 2px solid rgba(0,190,156,0.3);
}
.info1__item-more:hover {
  color: $green -20%;
}
.info1__item-more span {
  margin-left: 5px;
}
.info1__item-journal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info1__item-journal-link {
  font-family: $Bold;
  font-size: 1.125rem;
  border-bottom: 1px dashed $white;
  display: inline-block;
  position: absolute;
  left: -webkit-calc(50% - 95.5px);
  left: calc(50% - 95.5px);
  bottom: -20px;
  color: $green;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.info1__item-journal-link img {
  width: 100%;
}
.info1__item-journal-link i {
  margin-right: 5px;
}
.info1__item-journal-link:hover {
  color: $green -20%;
}
@media (max-width: 991px) {
  .home {
    padding: 70px 0 25px 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home__item {
    -webkit-flex-basis: 70%;
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
  }
  .home__item:nth-child(2) {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home__item-desc {
    max-width: 100%;
  }
  .home__item-li {
    max-width: 100%;
  }
  .home__item-journal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
  .home__item-journal-link {
    bottom: -webkit-calc(50% - 20px);
    bottom: calc(50% - 20px);
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border-bottom: none;
  }
  .home__item-journal img {
    width: 300px;
  }
}
@-webkit-keyframes sheens {
  0%, 79% {
    opacity: 0;
    -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }
  80% {
    opacity: 1;
    -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }
  95% {
    opacity: 1;
    -webkit-transform: rotateZ(60deg) translate(1em, -11em);
    transform: rotateZ(60deg) translate(1em, -11em);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateZ(60deg) translate(1em, -9em);
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
@keyframes sheens {
  0%, 79% {
    opacity: 0;
    -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }
  80% {
    opacity: 1;
    -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }
  95% {
    opacity: 1;
    -webkit-transform: rotateZ(60deg) translate(1em, -11em);
    transform: rotateZ(60deg) translate(1em, -11em);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateZ(60deg) translate(1em, -9em);
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
