#rates {
  background-color: #f0f0f0;
}
.rates-bg {
  background: url("/images/rates-bg.jpg");
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.rates {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 46px 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rates__title {
  width: 100%;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  position: relative;
  margin: 0 auto 29px auto;
}
.rates__title-text {
  width: 50%;
  line-height: 28px;
  font-family: $Bold;
  font-size: 2.625rem;
  color: $text;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
